body {
 background: #fff;
 color: #000;
 }

table {
	border: none;
	margin: 0px;
	padding: 0px;
}

.app h3 {
        font-family: sans-serif;
        border:dotted 1px;
        padding:10px;
        background-color:#dddddd;
	color:black;
	font-size:14pt;
	margin: 1pt;
	font-weight:800;
}

.app h3 a {
	font-weight:800;
	font-size:12pt;
}

.app h4 {
        font-family: sans-serif;
        border:black dotted 1px;
        padding:10px;
        background-color:#eeeeee;
	color:#777777;
	padding-left: 24px;
}

td {
        font-family: sans-serif;
        font-size: 9pt;
        border-left: dotted #999999 1px;
        border-top: dotted #999999 1px;
}

#banner table tr td {
	border: none;
}

.a td { 
 background: #ddd;
 color: #000;
 font-family: sans-serif;
 }

.b td { 
 background: #efefef;
 color: #000;
 font-family: sans-serif;
 }

.app th {
 background-color: #bbb;
 color: #fff;
 }

div#banner {
/*
 border-top: 1px solid #369;
 border-bottom: 1px solid #003;
*/
 }

#bodycol div.h3 p {
	max-width: 5in;
	margin-left: 36pt;
	line-height: 2em;
}

#banner, #banner td { 
 background: white;
 color: #fff;
 }

#leftcol {
 background: #eeeeee;
 color: #000;
 border-right: 1px solid #777777;
 border-bottom: 1px solid #777777;
/*
 border-bottom: 1px solid #aaa;
 border-top: 1px solid #fff;
*/
}

#navcolumn {
 background: #eeeeee;
 color: #000;
 border-right: none;
 border-bottom: none;
 border-top: none;
 }

#navcolumn div strong {
  color:#555555;
  padding: 4px;
  line-height:20pt;
  border: 1px solid black;
}

#navcolumn div {
  margin-top:10px;
}

#navcolumn div div {
  margin-bottom:10px;
}


#breadcrumbs {
    border: 1px dotted #777777;
}

#breadcrumbs {
 background-color: #dddddd;
 color: #000;
 }

#source {
 background-color: #fff;
 color: #000;
 border-right: 1px solid #888; 
 border-left: 1px solid #888; 
 border-top: 1px solid #888; 
 border-bottom: 1px solid #888; 
 margin-right: 7px;
 margin-left: 7px;
 margin-top: 1em;
 }

#source pre {
 margin-right: 7px;
 margin-left: 7px;
 }

#footer {
  background: #eeeeee;
  border: 1px solid #777777;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 1em;
}

#footer table {
}

#footer table tr td {
  border: none;
  padding: 0px;
  margin: 4px;
}

a:link, #breadcrumbs a:visited, #navcolumn a:visited, .app a:visited, .tasknav a:visited {
 font-family: sans-serif;
 color:#000099;
 text-decoration: none;
 }

a:active, a:hover, #leftcol a:active, #leftcol a:hover {
 font-family: sans-serif;
 color:#990000;
 text-decoration: none;
 }

a:link.selfref, a:visited.selfref {
 color: #555 !important;
 }

h3, h4 {
 margin-top: 1em;
 margin-bottom: 0;
 }
